body {
  padding: 0%;
  margin: 0% ;
  box-sizing: border-box;
  background: #1d1d1d;
}
.add-movie-from{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contain-new{
  width: 80%;
  height: 100vh;
  padding: 10%;
  margin: 10%;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  overflow: scroll;
}
